body {
	font-family: sans-serif;
	margin: 15px;
	padding: 0;
}

.shade {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.7);
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 400px;
	margin: -200px -250px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
	background: #FFFFFF;
}

.popup .close {
	position: absolute;
	top: -8px;
	right: -8px;
	width: 24px;
	height: 24px;
	background: #FFFFFF;
	border: 2px solid #000000;
	border-radius: 100%;
	text-align: center;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	cursor: pointer;
	user-select: none;
}

.popup .close:link,.popup .close:visited {
	text-decoration: none;
	color: #000000;
}

.popup .close:active,.popup .close:hover {
	text-decoration: none;
	background: #666666;
	color: #FFFFFF;
}

.popup .close:after {
	content: "\2716";
	font: 14px sans-serif;
	line-height: 20px;
}

.popup .scroller {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	padding: 10px;
}

h1 {
	margin: 0 0 15px;
	font-size: 20px;
	font-weight: normal;
}

p {
	margin: 10px 0 0;
}

a:link,a:visited {
	text-decoration: underline;
	color: inherit;
}
a:active,a:hover {
	text-decoration: none;
	color: inherit;
}

section {
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	padding: 5px;
	background: #E6E6E6;
	position: relative;
}

section.info {
	font-size: 14px;
	background: transparent;
	display: block;
}

section.raffle_select {
	float: right;
}

section.raffle_select ul.preview {
	margin: 5px 0;
	background: #FFFFFF;
	min-height: 100px;
	max-height: 400px;
	overflow: auto;
	border: 1px solid #AAAAAA;
	padding: 0;
	list-style: none;
	font-size: 12px;
	line-height: 20px;
}

section.raffle_select ul.preview li {
	margin: 0;
	padding: 0;
	min-height: 20px;
}

section.raffle_select ul.preview li .value,
section.raffle_select ul.preview li .count {
	display: inline-block;
	text-align: right;
	padding: 0 5px;
	width: 50%;
	box-sizing: border-box;
}

section.raffle_select ul.preview li:nth-child(even) {
	background: #F8F8F8;
}

form {
	margin: 0;
	padding: 0;
}

.options {
	font-size: 11px;
	line-height: 16px;
	user-select: none;
}
.optarea {
	display: inline-block;
	vertical-align: top;
}
.optarea.left {
	margin: 0 10px 0 0;
}
.optarea.right {
	float: right;
	margin: 0 5px;
}

select, button, input {
	margin: 0;
}

input[type=number] {
	width: 60px;
	border: 1px solid #AAAAAA;
	padding: 2px 3px;
	box-sizing: border-box;
	height: 20px;
	vertical-align: baseline;
}

input[type=number]:invalid {
	border-color: #AA0000;
	background: #FFEEEEEE;
}

input[type=radio] {
	vertical-align: top;
	margin-right: 5px;
	height: 20px;
}

label {
	display: inline-block;
	margin-bottom: 5px;
	min-height: 20px;
}

label span {
	display: inline-block;
	vertical-align: top;
	padding-top: 4px;
	white-space: no-wrap;
}

.odds {
	margin-top: 2px;
}

.odds_row {
	margin-left: 5px;
	width: 50px;
	line-height: 20px;
}

.odds_value {
	display: inline-block;
	vertical-align: baseline;
	width: 100px;
	line-height: 20px;
	text-align: right;
}

.graph_hold {
	display: inline-block;
	vertical-align: top;
	margin: 0 5px 0 0;
	position: relative;
}

.graph_hold .probability {
	font-size: 11px;
	line-height: 20px;
	margin: 0 5px;
}

.graph_hold .probability.left {
	margin-left: 65px;
}

.graph_hold .probability.right {
	float: right;
}

.loader {
	position: absolute;
	width: 20px;
	height: 20px;
	margin: -10px;
	box-sizing: border-box;
	border: 2px solid transparent;
	border-top-color: rgba(0, 0, 0, 0.5);
	border-bottom-color: rgba(0, 0, 0, 0.5);
	border-radius: 100%;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg)
	}
}

ul.key {
	display: inline-block;
	vertical-align: top;
	background: #FAFAFA;
	margin: 0 0 30px;
	padding: 0 5px 5px;
	font-size: 11px;
	line-height: 16px;
	list-style: none;
}

ul.key li {
	margin: 0;
	padding: 0;
}

ul.key li.header {
	margin: 5px 0 0;
	padding: 0;
	font-size: 1em;
	font-weight: bolder;
}

.key_value {
	float: right;
	text-align: right;
}

.key_value span {
	display: inline-block;
	width: 70px;
}

.tabulate {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.graph canvas {
	background: #FFFFFF;
	border:1px solid #AAAAAA;
}

.graph {
	position: relative;
	padding: 0 0 40px 60px;
}

.graph .label {
	position: absolute;
	font-size: 11px;
	text-align: center;
	line-height: 1;
}

.graph .label.x {
	bottom: 0;
	left: 60px;
	right: 0;
}

.graph .label.y {
	position: absolute;
	width: 200px;
	left: -100px;
	top: calc(50% - 20px);
	margin-top: -0.5em;
	margin-left: 0.5em;
	transform: rotate(-90deg);
}

.graph .values {
	position: absolute;
	font-size: 10px;
	line-height: 1;
}

.graph .values span {
	position: absolute;
}

.graph .values.x {
	bottom: 20px;
	left: 61px;
	right: 1px;
	height: 15px;
}

.graph .values.x span {
	width: 50px;
	top: 0;
	margin: 0 -25px;
	text-align: center;
}

.graph .values.y {
	top: 1px;
	bottom: 41px;
	left: 20px;
	width: 35px;
}

.graph .values.y span {
	right: 0;
	height: 10px;
	margin: -5px 0;
	text-align: right;
}

table {
	border-collapse: collapse;
	font-size: 12px;
}

th, td {
	border: 1px solid #CCCCCC;
	padding: 1px 3px;
}

th {
	font-weight: bolder;
	text-align: center;
}

td {
	text-align: right;
}
